In [1]:
import pandas as pd 
import pyodbc
import nltk
import nltk. sentiment. vader import sentimentIntensityAnalyzer

SyntaxError: invalid syntax (3730784183.py, line 4)

In [5]:
import pandas as pd
import pyodbc
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [7]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to C:\Users\SHRIDHAR
[nltk_data]     KS\AppData\Roaming\nltk_data...

True

In [9]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

In [15]:
def fetch_data_from_sql():
    conn_str = (
        "Driver={SQL Server};"
        "Server=SHRIDHARKS\\SQLEXPRESS;"
        "Database=PortfolioProject_MarketingAnalytics;"
        "Trusted_ConnConnection=yes;"
    )

In [27]:
import pyodbc

conn_str = (
    "DRIVER={SQL Server};"
    "Server=SHRIDHARKS\\SQLEXPRESS;"
    "Database=PortfolioProject_MarketingAnalytics;"
    "Trusted_Connection=yes;"
)

In [29]:
conn = pyodbc.connect(conn_str)

In [39]:
query = """
SELECT
    ReviewID,
    CustomerID,
    ProductID,
    ReviewDate,
    Rating,
    ReviewText
FROM dbo.customer_reviews
"""

In [41]:
df = pd.read_sql(query, conn)
df.head()

C:\Users\SHRIDHAR KS\AppData\Local\Temp\ipykernel_14516\1821051113.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,ReviewID,CustomerID,ProductID,ReviewDate,Rating,ReviewText
0,1,77,18,2023-12-23,3,"Average experience, nothing special."
1,2,80,19,2024-12-25,5,The quality is top-notch.
2,3,50,13,2025-01-26,4,Five stars for the quick delivery.
3,4,78,15,2025-04-21,3,"Good quality, but could be cheaper."
4,5,64,2,2023-07-16,3,"Average experience, nothing special."

In [43]:
conn. close()

In [51]:
def get_reviews():
    df = pd.read_sql(query, conn)
    return df    # valid here

In [47]:
customer_reviews_df = fetch_data_from_sql()

In [55]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [57]:
sia = SentimentIntensityAnalyzer()

In [61]:
def calculate_sentiment(review):
    sentiment = sia. polarity_scores(reviews)
    return sentiment['compound']

In [67]:
def categorize_sentiment(score, rating):
    if score > 0.5:
        if rating >= 4:
            return 'Positive'
        elif rating == 3:
            return 'Mixed Positive' 
        else:
            return 'Mixed Negative'
    elif score < -0.05:
        if rating <= 2:
            return 'Negative'
        elif rating == 3:
            return 'Mixed Positive'
    else:
        if rating >= 4:
            return 'Positive'
        elif rating <= 2:
            return 'Negative'  # Low rating with neutral sentiment
        else:
            return 'Neutral'

In [69]:
# Define a function to bucket sentiment scores into text ranges
def sentiment_bucket(score):
    if score >= 0.5:
        return '0.5 to 1.0'  # Strongly positive sentiment
    elif 0.0 <= score < 0.5:
        return '0.0 to 0.49'  # Mildly positive sentiment
    elif -0.5 <= score < 0.0:
        return '-0.49 to 0.0'  # Mildly negative sentiment
    else:
        return '-1.0 to -0.5'  # Strongly negative sentiment

# Apply sentiment analysis to calculate sentiment scores for each review
customer_reviews_df['SentimentScore'] = customer_reviews_df['ReviewText'].apply(calculate_sentiment)

# Apply sentiment categorization using both text and rating
customer_reviews_df['SentimentCategory'] = customer_reviews_df.apply(
    lambda row: categorize_sentiment(row['SentimentScore'], row['Rating']), axis=1)

# Apply sentiment bucketing to categorize scores into defined ranges
customer_reviews_df['SentimentBucket'] = customer_reviews_df['SentimentScore'].apply(sentiment_bucket)

# Display the first few rows of the DataFrame with sentiment scores, categories, and buckets
print(customer_reviews_df.head())

# Save the DataFrame with sentiment scores, categories, and buckets to a new CSV file
customer_reviews_df.to_csv('fact_customer_reviews_with_sentiment.csv', index=False)

TypeError: 'NoneType' object is not subscriptable

In [71]:
query = """
SELECT
    ReviewID,
    CustomerID,
    ProductID,
    ReviewDate,
    Rating,
    ReviewText
FROM dbo.customer_reviews
"""

customer_reviews_df = pd.read_sql(query, conn)
customer_reviews_df.head()

C:\Users\SHRIDHAR KS\AppData\Local\Temp\ipykernel_14516\2657726901.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customer_reviews_df = pd.read_sql(query, conn)

ProgrammingError: Attempt to use a closed connection.

In [73]:
customer_reviews_df = pd.read_sql(query, conn)
customer_reviews_df.head()

C:\Users\SHRIDHAR KS\AppData\Local\Temp\ipykernel_14516\2094452932.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customer_reviews_df = pd.read_sql(query, conn)

ProgrammingError: Attempt to use a closed connection.

In [75]:
import pyodbc

conn_str = (
    "DRIVER={SQL Server};"
    "Server=SHRIDHARKS\\SQLEXPRESS;"
    "Database=PortfolioProject_MarketingAnalytics;"
    "Trusted_Connection=yes;"
)

In [77]:
cursor = conn.cursor()
cursor.execute("SELECT TOP 1 * FROM dbo.customer_reviews")
print(cursor.fetchone())

ProgrammingError: Attempt to use a closed connection.

In [81]:
import pyodbc

conn_str = (
    "DRIVER={SQL Server};"
    "Server=SHRIDHARKS\\SQLEXPRESS;"
    "Database=PortfolioProject_MarketingAnalytics;"
    "Trusted_Connection=yes;"
)
conn = pyodbc.connect(conn_str)

In [83]:
cursor = conn.cursor()
cursor.execute("SELECT TOP 1 * FROM dbo.customer_reviews")
print(cursor.fetchone())

(1, 77, 18, '2023-12-23', 3, 'Average  experience,  nothing  special.')

In [85]:
import pandas as pd

query = """
SELECT
    ReviewID,
    CustomerID,
    ProductID,
    ReviewDate,
    Rating,
    ReviewText
FROM dbo.customer_reviews
"""

customer_reviews_df = pd.read_sql(query, conn)
customer_reviews_df.head()

C:\Users\SHRIDHAR KS\AppData\Local\Temp\ipykernel_14516\412728824.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customer_reviews_df = pd.read_sql(query, conn)

,ReviewID,CustomerID,ProductID,ReviewDate,Rating,ReviewText
0,1,77,18,2023-12-23,3,"Average experience, nothing special."
1,2,80,19,2024-12-25,5,The quality is top-notch.
2,3,50,13,2025-01-26,4,Five stars for the quick delivery.
3,4,78,15,2025-04-21,3,"Good quality, but could be cheaper."
4,5,64,2,2023-07-16,3,"Average experience, nothing special."

In [87]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sia = SentimentIntensityAnalyzer()

# 1. Function: calculate sentiment score from text
def calculate_sentiment(text):
    if not isinstance(text, str):
        return 0.0
    scores = sia.polarity_scores(text)
    return scores['compound']          # MUST return a number between -1 and 1

# 2. Function: combine rating + sentiment into a category
def categorize_sentiment(score, rating):
    # you can adjust these rules; this is just an example
    if score >= 0.3 and rating >= 4:
        return 'Positive'
    elif score <= -0.3 and rating <= 2:
        return 'Negative'
    elif -0.3 < score < 0.3:
        return 'Neutral'
    else:
        return 'Mixed'

# 3. Function: bucket sentiment score into ranges
def sentiment_bucket(score):
    if score >= 0.5:
        return '0.5 to 1.0'        # Strongly positive
    elif 0.0 <= score < 0.5:
        return '0.0 to 0.49'       # Mildly positive
    elif -0.5 <= score < 0.0:
        return '-0.49 to 0.0'      # Mildly negative
    else:
        return '-1.0 to -0.5'      # Strongly negative

# 4. Apply to your DataFrame (customer_reviews_df must already be loaded)
customer_reviews_df['SentimentScore'] = customer_reviews_df['ReviewText'].apply(calculate_sentiment)

customer_reviews_df['SentimentCategory'] = customer_reviews_df.apply(
    lambda row: categorize_sentiment(row['SentimentScore'], row['Rating']),
    axis=1
)

customer_reviews_df['SentimentBucket'] = customer_reviews_df['SentimentScore'].apply(sentiment_bucket)

print(customer_reviews_df.head())

customer_reviews_df.to_csv('fact_customer_reviews_with_sentiment.csv', index=False)

   ReviewID  CustomerID  ProductID  ReviewDate  Rating  \
0         1          77         18  2023-12-23       3
1         2          80         19  2024-12-25       5
2         3          50         13  2025-01-26       4
3         4          78         15  2025-04-21       3
4         5          64          2  2023-07-16       3

                                 ReviewText  SentimentScore SentimentCategory  \
0   Average  experience,  nothing  special.         -0.3089             Mixed
1            The  quality  is    top-notch.          0.0000           Neutral
2   Five  stars  for  the  quick  delivery.          0.0000           Neutral
3  Good  quality,  but  could  be  cheaper.          0.2382           Neutral
4   Average  experience,  nothing  special.         -0.3089             Mixed

  SentimentBucket
0    -0.49 to 0.0
1     0.0 to 0.49
2     0.0 to 0.49
3     0.0 to 0.49
4    -0.49 to 0.0